{% extends "base.html" %}

{% block title %}Contact{% endblock %}

{% block parallax_style %}style="background-image: url('{{ url_for('static', filename='img/src2.jpg') }}')"{% endblock %}

{% block parallax_title %}Contact{% endblock %}

<!--action="{{ url_for('main.contact_post') }}">-->

{% block content %}
<form method="POST">
    First Name: <input type="text" name="name">
    Comment: <textarea name="text"></textarea>
    <input type="submit" value="Send">
</form>
{% for i in contacts %}
<p>{{ i }}</p>
{% endfor %}
{% for i in range(20) %}
<h1>Welcome!</h1>
{% endfor %}
{% endblock %}