<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %} - Bappy0X</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</head>

<body>
    {% if parallax %}
    <div class="parallax" {% block parallax_style %}{% endblock %}>
        <h1>Bappy0X</h1>
        <div id="nav-bar" class="box-list">
            <ul>
                <li><a href="{{ url_for('main.index') }}">Home</a></li>
                <li><a href="{{ url_for('main.about') }}">About</a></li>
                <li><a href="{{ url_for('main.contact') }}">Contact</a></li>
            </ul>
        </div>
        <h1>{% block parallax_title %}{% endblock %}</h1>
        {% block parallax_extra %}{% endblock %}
        <p onclick="scrollDown()">▼</p>
    </div>
    {% endif %}
    <div id="top"></div>
    {% block content %}{% endblock %}
</body>

</html>